/* GUIDES */
/* Mobile responsiveness max-breakpoint is 767px */

/* Tablet responsiveness min-breakpoint is 768px */

/* Desktop responsiveness min-breakpoint is 1024px */

:root {
  /* Root colors */
  --primary-color: #000000;
  --secondary-color: #f1d907;
  --sec-color-transparent: #f1d90760;

  /* Background */
  --bg-color: #ffffff;
  --accent-color: #f0f0f0;
  --border-color: #ebebeb;

  /* Text colors */
  --text-color: #212528;
  --text-light-color: #6c6c6c;
  --text-lighter-color: #999999;
  /* FOR WHITE BACKGROUNDS (alt) */
  --alt-text-color: #f2f2f2;
  --alt-text-light-color: #afafaf;

  /* Tag colors */
  --success: #198754;
  --error: #dc3545;
  --warning: #ffc103;
  --info: #0d6efd;
  --success-hover: #19875420;
  --success-light: #19875440;
  --error-hover: #dc354520;
  --error-light: #dc354540;
  --warning-hover: #ffc10320;
  --warning-light: #ffc10340;
  --bright-green: #00ff7f;

  /* Others */
  --box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  --box-shadow-heavy: 0 5px 20px rgba(0, 0, 0, 0.3);
  --header-padding: 10px 20px;
  --sm-header-padding: 15px 20px;
  --btn-padding: 10px 20px;
  --sm-btn-padding: 6px 12px;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

/* General Stylings */
*,
*::before,
*::after {
  box-sizing: border-box !important;
  transition: 0.4s;
  scrollbar-width: none;
  scrollbar-color: transparent;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text-color);
}

* ::-webkit-scrollbar,
*::before ::-webkit-scrollbar,
*::after ::-webkit-scrollbar {
  display: none;
}

* ::-moz-scrollbar,
*::before ::-moz-scrollbar,
*::after ::-moz-scrollbar {
  display: none;
}

* ::-ms-scrollbar,
*::before ::-ms-scrollbar,
*::after ::-ms-scrollbar {
  display: none;
}

.container-fluid {
  padding: 0 !important;
  margin: 0 !important;
  height: 100% !important;
  background-color: var(--bg-color);
  /* overflow-x: hidden; */
}

a,
.btn,
.btn:focus,
.btn:active,
.btn:focus-visible,
.btn-link:focus,
.btn-link:active {
  background: none !important;
  outline: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
}

input[type="checkbox"],
input[type="radio"] {
  box-shadow: none !important;
}

.form-control {
  box-shadow: none !important;
  border-radius: 5px;
}

.form-control:focus {
  border-color: var(--secondary-color);
}

.form-control::placeholder {
  color: var(--text-lighter-color) !important;
}

input::placeholder,
textarea::placeholder {
  color: var(--text-secondary) !important;
}

button {
  padding: var(--btn-padding);
  border: none;
  border-radius: 5px;
  background-color: var(--accent-color);
}

span.icon {
  margin: 0;
}

.section-container {
  padding: 60px 80px;
  margin: 0 !important;
  overflow: hidden;
}

.text-box {
  max-width: 500px;
  margin: auto;
}

.text-box .heading {
  color: var(--text-color);
}
.text-box .subtext {
  color: var(--text-light-color);
}

@media screen and (max-width: 767px) {
  .section-container {
    padding: 60px 20px;
  }
  .text-box .heading {
    font-size: 28px;
    /* padding: 0 10px; */
  }
}

/* HEADER */

#site-header {
  z-index: 1000;
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  padding: var(--header-padding) !important;
  border-bottom: var(--border-color);
}

#site-header a {
  color: var(--text-color);
}

#site-header .navbar ul {
  list-style: none;
}

#site-header .navbar li a {
  color: var(--text-lighter-color);
}
#site-header .navbar li a:hover {
  color: var(--text-color);
}

#site-header .cta-btn {
  background-color: var(--secondary-color) !important;
}
#site-header .cta-btn:hover .icon svg {
  transform: translateX(5px);
}

#site-header .cta-btn * {
  fill: var(--text-color);
  color: var(--text-color);
}

@media screen and (max-width: 767px) {
  #site-header {
    padding: var(--sm-header-padding);
  }

  #site-header .navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--bg-color);
    height: 100%;
    padding: 15px !important;
  }

  #site-header .navbar ul {
    width: 100%;
    gap: 5px !important;
    height: 100%;
  }

  #site-header .navbar ul li a {
    display: block;
    width: 100%;
    padding: 10px 0;
  }

  #site-header .navbar ul li a.shop-now-link {
    width: fit-content;
    margin-top: 10px;
    padding: 0;
  }

  #site-header .menu-btn svg {
    fill: var(--primary-color);
  }
}

/* HERO SECTION */

.hero .text-box,
.hero .search-form,
.hero .cta {
  max-width: 500px;
  margin: auto;
}

.hero .text-box .heading {
  font-size: 36px;
}

.hero .text-box .subtext {
  font-size: 18px;
}

.hero .search-form .search-btn {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 0 5px 5px 0;
  padding: 8px 12px;
}

.hero .cta .cta-btn {
  display: block;
  width: fit-content;
  margin: auto;
  background-color: var(--primary-color);
}

.hero .cta .cta-btn * {
  fill: var(--secondary-color);
  color: var(--secondary-color);
}

.hero .cta .cta-btn:hover .icon svg {
  transform: translateX(5px);
}

/* FEATURES SECTION */

.features-section .card-container {
  width: fit-content;
  margin: auto;
  margin-top: 20px;
}

.features-section .card-container .card {
  width: 300px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 15px;
  box-shadow: var(--box-shadow);
}

.features-section .card-container .card .heading {
  font-weight: bold;
}

.features-section .card-container .card p {
  margin: 0;
  color: var(--text-light-color);
  font-size: 15px;
}

@media screen and (max-width: 767px) {
  .features-section .card-container,
  .features-section .card-container .card {
    width: 100%;
  }
}

/* PRODUCTS SLIDESHOW SECTION */

.product-slide-section .sub-section {
  margin-top: 30px;
}

.product-slide-section .sub-section:last-child {
  margin-bottom: 0;
}

.product-slide-section .swiper-wrapper {
  display: flex;
  align-items: center;
}

.product-slide-section .swiper-btn {
  width: 40px;
  height: 40px;
  z-index: 2 !important;
}

.product-slide-section .swiper-btn::after {
  font-size: 18px;
  transform: scale(0.5) !important;
}

div.product {
  flex: 0 0 auto;
  width: 185px;
  height: 292px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  overflow: hidden;
  position: relative;
}

div.product .img-box {
  height: 170px;
  background-color: var(--accent-color);
  cursor: pointer;
}

div.product .text-container {
  padding: 11px;
}

div.product .text-container .product-name {
  color: var(--text-color);
  margin-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
}

div.product .text-container .description {
  color: var(--text-light-color);
  font-size: 13px;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

div.product .text-container footer {
  position: absolute;
  bottom: 11px;
  left: 11px;
  right: 11px;
}

div.product .text-container .add-to-cart-btn {
  background-color: var(--accent-color);
  font-size: 14px;
  padding: var(--sm-btn-padding);
}

div.product .price-tag {
  color: var(--text-color);
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  border-radius: 5px;
  padding: 2px 7px;
  background-color: var(--sec-color-transparent);
  bottom: 7px;
  right: 7px;
}

/* SELL/SWAP GADGETS SECTION */

.slsw-section {
  background-color: var(--primary-color);
}

.slsw-section .text-box .heading {
  color: var(--alt-text-color);
}

.slsw-section .text-box .subtext {
  color: var(--alt-text-light-color);
}

.slsw-section .text-box .subtext {
  color: var(--alt-text-light-color);
}

.slsw-section .connect-btn {
  background: var(--secondary-color);
}

/* CONTACT SECTION */

.contact-section .text-box {
  width: 100%;
}

.contact-section .divider {
  width: 150px;
  margin: 10px 0;
}

.contact-section .divider hr {
  height: 1px;
  background-color: var(--border-color);
  width: 100%;
  margin: 0;
}

.contact-section .divider span {
  color: var(--text-light-color);
}

.contact-section .contact-channels .channel {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 10px;
}

.contact-section .contact-channels .channel * {
  font-size: 14px;
  color: var(--text-light-color);
  fill: var(--text-light-color);
}

.contact-section .contact-channels .channel a {
  text-decoration: underline !important;
}

.contact-section .text-box .subtext .time-interval {
  color: var(--text-color);
  font-weight: bold;
}

.contact-section .contact-form .form-group {
  margin-bottom: 10px;
}

.contact-section .contact-form textarea#message {
  resize: none;
  height: 100px;
}

.contact-section .contact-form button[type="submit"] {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.contact-section .address-map {
  margin-top: 50px;
  width: 100%;
  height: 400px;
  border-radius: 10px;
}

.contact-section .find-us {
  font-size: 12px;
  color: var(--bg-color);
  width: fit-content;
  margin: auto;
  border-radius: 50px;
  padding: 3px 10px;
  background-color: var(--primary-color);
}

@media screen and (max-width: 767px) {
  .contact-section .text-box {
    margin: auto;
  }
  .contact-section .divider {
    width: 100%;
  }

  .contact-section .contact-channels .channel {
    align-items: start;
  }

  .contact-section .address-map {
    height: 300px;
  }
}

/* FOOTER SECTION */

.footer-section {
  /* background-color: var(--accent-color); */
}

.footer-section .footer-inner {
  border-top: 1px solid var(--border-color);
  padding: 60px 0;
}

.footer-section .site-logo {
}

.footer-section .quick-links-bar .link {
  color: var(--text-lighter-color);
  font-size: 14px;
  text-decoration: underline !important;
}

.footer-section .quick-links-bar .link:hover {
  color: var(--text-light-color);
  text-decoration: underline !important;
}

.footer-section .social-handles .icon {
  width: 40px;
  height: 40px;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-section .social-handles .icon:hover {
  background-color: var(--accent-color) !important;
}

.footer-section .social-handles .icon svg {
  width: 18px;
  fill: var(--text-light-color);
}

.footer-section .copyright {
  font-size: 14px;
  color: var(--text-lighter-color);
  padding: 0 !important;
}

/*****************************************************
                      SHOP PAGE
*****************************************************/

.shoppage-hero {
  background: url("img/shopping-bg.jpg") no-repeat center;
  background-size: cover;
}

.catalog-section .top-bar .filter-dropdown,
.catalog-section .top-bar .search-form {
  width: auto;
}

.catalog-section .catalog {
  display: flex;
  gap: 20px;
}

.catalog-section .catalog .product {
  flex: 1;
}

.catalog-section .top-bar .search-btn {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 0 5px 5px 0;
  padding: 8px 12px;
}

/*****************************************************
                   PRODUCT PAGE
*****************************************************/
.product-quantity .btn {
  background-color: var(--accent-color) !important;
  color: var(--text-color) !important;
  padding: 1px 10px !important;
  font-size: 20px !important;
  border-radius: 5px !important;
  border: none !important;
}
.product-quantity .btn-increase {
  background-color: var(--primary-color) !important;
  color: var(--alt-text-color) !important;
}

.product-quantity input::-webkit-inner-spin-button,
.product-quantity input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.product-quantity input {
  -moz-appearance: textfield;
}

.product-preview-section .details-container .btn-group .order-btn {
  background-color: var(--secondary-color);
  border: none;
}

.product-preview-section .details-container .btn-group button,
.icon {
  fill: initial;
}

@media screen and (max-width: 767px) {
  .product-preview-section .details-container .btn-group button {
    width: 100%;
  }
}
